@font-face {
    font-family: 'Montserrat';
    src: url('../content/Montserrat-Variable.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url('../content/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat-thin';
    src: url('../content/Montserrat-Thin.ttf') format('truetype');
}

body {
    font-family: 'Montserrat' !important;
    line-height: normal !important;
    margin: 0;   
    p {
        margin-bottom: 0;
    }


    .alert-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .wip-alert {
            position: absolute;
            background-color: rgb(240, 210, 130);
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 16px;
            border-radius: 4px;
            height: 40px;
            top: 80px;
            max-width: 90vw;
            .alert-icon {
                max-width: 20px;
                max-height: 20px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    /* Barra de navegación version MOVIL */
    .navbar {
        justify-content: space-between;

        h1 {
            margin-bottom: 0;
            line-height: normal;
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 750;
        }
        .nav-button {
            padding: 10px 0;

            p {
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: .2em;
                font-weight: 500;
            }
        }
    }
    

    /* Barra de navegación version DESKTOP */
    header {
        img {
            height: 35vh;
            width: 100%;
            object-fit: cover;
            object-position: center bottom;
        }
        .nav {
            display: flex;
            width: 100%;
            height: 60px;
            justify-content: center;
            position: relative;
            
            border-bottom: solid 1px rgb(214, 214, 214);
            
            .nav-bar {
                max-width: 100vw;
                overflow: hidden;

                display: flex;
                
                .nav-elements {
                    display: flex;
                    align-self: center;
                    height: 100%;
    
                    .nav-button {
                        width: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        &:hover {
                            cursor: pointer;
                            border-bottom: solid 1px black;
                        }
                        p {
                            text-transform: uppercase;
                            text-align: center;
                            font-size: 11px;
                            letter-spacing: .2em;
                            font-weight: 500;
                        }
                    }
                }
            }
            .nav-social {
                display: flex;
                gap: 15px;
                align-items: center;
                position: absolute;
                left: 85vw;
                top: 20px;

                .social-button {
                    max-width: 20px;
                    max-height: 20px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        &:hover {
                            opacity: 0.5;
                            transition: all 0.2s ease; 
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
    }
}